Qualifying_Appointment_Requests.json
{
  "name": "Qualifying Appointment Requests",
  "nodes": [
    {
      "parameters": {
        "path": "schedule_appointment",
        "formTitle": "Schedule an Appointment",
        "formDescription": "Welcome to Jim's Appointment Form.\nBefore we set a date, please tell me a little about yourself and how I can help.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Name",
              "placeholder": "eg. Sam Smith",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "eg. sam@example.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Enquiry",
              "fieldType": "textarea",
              "placeholder": "eg. I'm looking for...",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": true,
          "ignoreBots": true,
          "useWorkflowTimezone": true
        }
      },
      "id": "6023361b-0794-43b0-befe-aeac4924c6c7",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        420,
        400
      ],
      "webhookId": "5e7637dd-d222-4786-8cdc-7b66cebc1481",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Appointment Request Sent!",
        "completionMessage": "=Thank you for submitting an appointment request. A confirmation of this request will be sent to your inbox. I'll get back to you shortly with a confirmation of the appointment.\n\nHere is the summary of the appointment request.\n\nName: {{ $('Get Form Values').item.json.name }}\nDate & Time: {{ DateTime.fromISO($('Get Form Values').item.json.dateTime).format('EEE, dd MMM @ t') }}\nEnquiry: {{ $('Get Form Values').item.json.enquiry.trim() }}\n",
        "options": {
          "formTitle": "Appointment Request Sent!"
        }
      },
      "id": "ab36c969-655a-4aeb-9006-e2ee25a85b0c",
      "name": "Form End",
      "type": "n8n-nodes-base.form",
      "position": [
        2520,
        420
      ],
      "webhookId": "8fcc907b-bc2e-4fdf-a829-82c83e677724",
      "typeVersion": 1
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{\n[\n {\n \"fieldLabel\":\"Date\",\n \"requiredField\":true,\n \"fieldType\": \"dropdown\",\n \"fieldOptions\":\n Array(5).fill(0)\n .map((_,idx) => $now.plus(idx+1, 'day'))\n .filter(d => !d.isWeekend)\n .map(d => ({ option: d.format('EEE, d MMM') }))\n },\n {\n \"fieldLabel\": \"Time\",\n \"requiredField\": true,\n \"fieldType\": \"dropdown\",\n \"fieldOptions\": [\n { \"option\": \"9:00 am\" },\n { \"option\": \"10:00 am\" },\n { \"option\": \"11:00 am\" },\n { \"option\": \"12:00 pm\" },\n { \"option\": \"1:00 pm\" },\n { \"option\": \"2:00 pm\" },\n { \"option\": \"3:00 pm\" },\n { \"option\": \"4:00 pm\" },\n { \"option\": \"5:00 pm\" },\n { \"option\": \"6:00 pm\" }\n ]\n }\n]\n}}",
        "options": {
          "formTitle": "Enter a Date & Time",
          "formDescription": "=Please select a date and time"
        }
      },
      "id": "f28f0613-4eba-4f7c-9cfb-1f8198b7ce2a",
      "name": "Enter Date & Time",
      "type": "n8n-nodes-base.form",
      "position": [
        1680,
        360
      ],
      "webhookId": "0cd03415-66f8-4c82-8069-5bfd8ea310bd",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n{\n name: $('n8n Form Trigger').first().json['Your Name'],\n email: $('n8n Form Trigger').first().json.Email,\n enquiry: $('n8n Form Trigger').first().json.Enquiry,\n dateTime: DateTime.fromFormat($json.Date + ' ' + $json.Time, 'EEE, d LLL h:mm a'),\n submittedAt: $('n8n Form Trigger').first().json.submittedAt,\n}\n}}",
        "options": {}
      },
      "id": "c9692d53-0f2c-4eb7-bb61-e5d9f8bcc1db",
      "name": "Get Form Values",
      "type": "n8n-nodes-base.set",
      "position": [
        2000,
        420
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Please select",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "I accept the terms and conditions"
                  }
                ]
              },
              "multiselect": true,
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "Before we continue...",
          "formDescription": "=Terms and Conditions for Booking an Appointment\n\nNon-Binding Nature of Discussions:\nAny information shared, discussed, or agreed upon during the call is non-binding and provisional. No agreement, service, or commitment shall be considered confirmed unless explicitly documented and agreed to in writing.\n\nProhibition of Recording and Note-Taking Tools:\nBy proceeding with the appointment, the user agrees not to use AI assistants, note-taking applications, recording devices, or any other technology to record or transcribe the conversation, whether manually or automatically. This is to ensure confidentiality and respect for the integrity of the discussion.\n\nConfirmation of Understanding:\nBy booking this appointment, you acknowledge and accept these terms and conditions in full."
        }
      },
      "id": "c20609e3-b94e-4929-90ae-0161aca060e0",
      "name": "Terms & Conditions",
      "type": "n8n-nodes-base.form",
      "position": [
        1220,
        440
      ],
      "webhookId": "dcf32f99-8fb7-457a-8a58-ac1a018b1873",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bc7c3e99-e610-4997-82a7-4851f2c04c19",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              },
              "leftValue": "={{ $json['Please select'][0] }}",
              "rightValue": "I accept"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6230ecb1-efd4-4688-be81-4f5bd31c25d4",
      "name": "Has Accepted?",
      "type": "n8n-nodes-base.if",
      "position": [
        1420,
        440
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get Form Values').first().json.email }}",
        "subject": "=Appointment Request Received for {{ DateTime.fromISO($('Get Form Values').first().json.dateTime).format('EEE, dd MMM @ t') }}",
        "message": "=<p>Dear {{ $('Get Form Values').first().json.name }},</p>\n<p>Thanks for requesting an appointment. We will review and get back to you shortly.</p>\n<p>Here is the summary of the request that was sent:</p>\n<p>\nName: {{ $('Get Form Values').first().json.name }}<br/>\nEmail: {{ $('Get Form Values').first().json.email }}<br/>\nEnquiry: {{ $('Get Form Values').first().json.enquiry }}<br/>\nSubmitted at: {{ $('Get Form Values').first().json.submittedAt }}\n</p>\n",
        "options": {}
      },
      "id": "56eec519-036e-4075-a109-249061e1ac4b",
      "name": "Send Receipt",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2360,
        420
      ],
      "webhookId": "5f590407-4ab9-4ae6-bb85-38dbe41d6dce",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "cUlbzquzEwyRhgVx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "=testmailaddress345@gmail.com",
        "subject": "New Appointment Request!",
        "message": "=<h2>A new appointment request was submitted!</h2>\n<p>\nRequesting appointment date is <strong>{{ DateTime.fromISO($('Execute Workflow Trigger').item.json.dateTime).format('EEE, dd MMM @ t') }}</strong>.\n</p>\n<p>\nName: {{ $('Execute Workflow Trigger').first().json.name }}<br/>\nEmail: {{ $('Execute Workflow Trigger').first().json.email }}<br/>\nEnquiry Summary: {{ $json.text }}<br/>\nSubmitted at: {{ $('Execute Workflow Trigger').first().json.submittedAt }}\n</p>",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Confirm"
          }
        },
        "options": {}
      },
      "id": "9f625a64-9d56-43f2-bf2b-e32d47d30a85",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1020,
        920
      ],
      "webhookId": "ab9c6c5e-334d-44bb-a8fd-a58140bc680d",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "cUlbzquzEwyRhgVx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e5e37acb-9e9d-4a9e-bf59-a35dfc035886",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "8d6a095c-5f10-4df0-87b9-e067360f9627",
      "name": "Has Approval?",
      "type": "n8n-nodes-base.if",
      "position": [
        1260,
        920
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "testmailaddress345@gmail.com",
          "mode": "list",
          "cachedResultName": "testmailaddress345@gmail.com"
        },
        "start": "={{ $('Execute Workflow Trigger').first().json.dateTime }}",
        "end": "={{ DateTime.fromISO($('Execute Workflow Trigger').first().json.dateTime).plus(30, 'minute').toISO() }}",
        "additionalFields": {
          "attendees": [
            "={{ $('Execute Workflow Trigger').item.json.email }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ $('Summarise Enquiry').first().json.text }}\n\nOriginal message:\n> {{ $('Execute Workflow Trigger').item.json.enquiry }}",
          "summary": "=Appointment Scheduled - {{ $('Execute Workflow Trigger').item.json.name }} & Jim"
        }
      },
      "id": "c4fd3bb2-aaf5-4a1c-9b8b-2c1bc5ba0d10",
      "name": "Create Appointment",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        1460,
        760
      ],
      "typeVersion": 1.2,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JIrPVLpPQqJDWxIh",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Execute Workflow Trigger').first().json.email }}",
        "subject": "=Appointment Request Rejected for {{ DateTime.fromISO($('Execute Workflow Trigger').first().json.dateTime).format('EEE, dd MMM @ t') }}",
        "message": "=<p>Dear {{ $('Execute Workflow Trigger').first().json.name }},</p>\n<p>Unfortunately, we cannot schedule the requested appointment at the requested time.</p>\n<p>Kind regards</p>\n",
        "options": {}
      },
      "id": "ce7e0f40-60d1-4b8f-93ec-1d0e2a170635",
      "name": "Send Rejection",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1480,
        1040
      ],
      "webhookId": "5f590407-4ab9-4ae6-bb85-38dbe41d6dce",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "cUlbzquzEwyRhgVx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Send me a DM Instead!",
        "completionMessage": "Thanks for your enquiry but it may not necessarily need an appointment. Please feel free to email me instead at jim@example.com.",
        "options": {}
      },
      "id": "2d2c43cf-0008-4ac3-a5c6-bb707f35624d",
      "name": "Decline",
      "type": "n8n-nodes-base.form",
      "position": [
        920,
        520
      ],
      "webhookId": "4353eadb-b7a0-45f2-8dd8-5f6cd882d8d8",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Send me a DM Instead!",
        "completionMessage": "Thanks for your enquiry but it may not necessarily need an appointment. Please feel free to email me instead at jim@example.com.",
        "options": {}
      },
      "id": "53e81c78-57c0-45d1-80d5-298946e09082",
      "name": "Decline1",
      "type": "n8n-nodes-base.form",
      "position": [
        1680,
        520
      ],
      "webhookId": "4353eadb-b7a0-45f2-8dd8-5f6cd882d8d8",
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The enquiry is as follows:\n{{ $('Execute Workflow Trigger').first().json.enquiry.substring(0, 500) }}",
        "messages": {
          "messageValues": [
            {
              "message": "Summarise the given enquiry"
            }
          ]
        }
      },
      "id": "53b0d179-807e-4414-93f4-124ad491ad81",
      "name": "Summarise Enquiry",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        640,
        920
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "inputText": "={{ $json.Enquiry }}",
        "categories": {
          "categories": [
            {
              "category": "relevant enquiry",
              "description": "Enquire about AI, automation, digital products and product engineering."
            }
          ]
        },
        "options": {
          "fallback": "other"
        }
      },
      "id": "5556fa25-4330-4e02-943b-3e56565e5817",
      "name": "Enquiry Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        600,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        420,
        920
      ],
      "id": "efd71493-3183-4cfe-afa6-14daa5df7314",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}",
          "cachedResultName": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2180,
        420
      ],
      "id": "7caf77d8-2e15-4285-8325-f3d115ad8ed9",
      "name": "Trigger Approval Process",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        580,
        600
      ],
      "id": "2ceaf115-af53-4e5a-afdb-bb3a442021fc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "guBFMhHgni9rVG9Z",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        620,
        1120
      ],
      "id": "af8455e0-1215-4441-9603-c72756a30486",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "guBFMhHgni9rVG9Z",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Send Receipt": {
      "main": [
        [
          {
            "node": "Form End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Accepted?": {
      "main": [
        [
          {
            "node": "Enter Date & Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decline1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Approval?": {
      "main": [
        [
          {
            "node": "Create Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Form Values": {
      "main": [
        [
          {
            "node": "Trigger Approval Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Enquiry Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enter Date & Time": {
      "main": [
        [
          {
            "node": "Get Form Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarise Enquiry": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Has Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enquiry Classifier": {
      "main": [
        [
          {
            "node": "Terms & Conditions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Terms & Conditions": {
      "main": [
        [
          {
            "node": "Has Accepted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Summarise Enquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Approval Process": {
      "main": [
        [
          {
            "node": "Send Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Enquiry Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Summarise Enquiry",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Form End": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b4835db5-527e-450e-9a40-f1b3f765b63f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1936b33420b0facb61b246cd239a2c195c2e327ceea8081892252d261a13330"
  },
  "id": "C7l9yzlEVaJvMvTA",
  "tags": []
}