RAG_chatbot_with_ui.json
{
  "name": "RAG_with_ui",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bc580fb1-8c0b-4073-a405-f1079f0594f3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ],
      "id": "d0ec001c-b498-44d9-86ed-5fe26d834889",
      "name": "Webhook",
      "webhookId": "bc580fb1-8c0b-4073-a405-f1079f0594f3"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "files",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.body.record.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        60,
        0
      ],
      "id": "35f7ef61-5d46-4695-bbda-e6ce4aef7a93",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "P5TtTfpF3fgb1FZB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1436,
        0
      ],
      "id": "9af68d94-d477-4b12-a618-884367c92eda",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e87773c0-ff10-4662-83eb-29a63b4f6cb6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        500
      ],
      "id": "d0f4927e-05da-49e7-a28d-807c896b3588",
      "name": "Webhook1",
      "webhookId": "e87773c0-ff10-4662-83eb-29a63b4f6cb6"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        520,
        500
      ],
      "id": "ef9b7baa-02fe-486a-ac47-0c630e79a37d",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "url": "=https://vuerbkfhklcvpwnfvoye.supabase.co/storage/v1/object/public/pdf-files/{{ $json.storage_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "id": "0c7ceb75-ef9a-44b5-b8b9-43a621fdbe7b",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "H9QwQBVhzcrsFj6w",
          "name": "Supabase_key"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "id": "6d4bfcda-7576-49a8-ba76-f337ecbc87a6",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1216,
        0
      ],
      "id": "fac7e880-3f02-4761-b936-782f04f6224c",
      "name": "Limit"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "vectors_data",
          "mode": "list",
          "cachedResultName": "vectors_data"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        736,
        0
      ],
      "id": "bd426105-1bb6-4466-a2a0-881c3d7be3fe",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "P5TtTfpF3fgb1FZB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_path",
                "value": "={{ $('HTTP Request').item.json.storage_path }}"
              },
              {
                "name": "user_id",
                "value": "={{ $('HTTP Request').item.json.user_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        840,
        180
      ],
      "id": "5c818999-f345-4e16-a3cb-2263723016c6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        920,
        320
      ],
      "id": "0deecad8-1b17-4a7a-81f9-7ffcf21d583c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        180
      ],
      "id": "8656bb30-d319-487c-a2c5-cbbba92cd264",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "guBFMhHgni9rVG9Z",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "vectors_data",
        "filterType": "string",
        "filterString": "=metadata->>file_path=like.*{{ $json.body.old_record.storage_path }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        60,
        500
      ],
      "id": "2fbeee8b-b52c-4506-b2d7-36c7b102d664",
      "name": "Delete a row",
      "credentials": {
        "supabaseApi": {
          "id": "P5TtTfpF3fgb1FZB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        280,
        500
      ],
      "id": "ae40192a-0563-4f2f-98fe-4e6cd2c724a5",
      "name": "Limit1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c74b3efa-143d-4378-855d-e36f0b558585",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        780
      ],
      "id": "f3ca474a-7034-4f4c-98c7-2f996aeaa13c",
      "name": "Webhook2",
      "webhookId": "c74b3efa-143d-4378-855d-e36f0b558585"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        480,
        780
      ],
      "id": "705f9bb6-312d-4a69-8de7-a000fb675d33",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful assistant. your job is to answer user query."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        40,
        780
      ],
      "id": "aaf065aa-0959-437d-9266-6845ce8b54e0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        1020
      ],
      "id": "d81b596f-eea1-4fba-9e4b-35d8220f7460",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "guBFMhHgni9rVG9Z",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook2').item.json.body.session_id }}",
        "tableName": "=n8n_chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        120,
        1020
      ],
      "id": "894e4482-33e8-4a62-b13f-456fe4de9e44",
      "name": "Postgres Chat Memory",
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "gjG8wTD517edkYlc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "=use to retrieve information from vector store.",
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        240,
        1080
      ],
      "id": "22b79fb8-ac85-496e-b29d-cd21a9a0ac92",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "vectors_data",
          "mode": "list",
          "cachedResultName": "vectors_data"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        100,
        1280
      ],
      "id": "31702df4-a9ca-4bec-ab3a-68c9b6e441e1",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "P5TtTfpF3fgb1FZB",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        220,
        1440
      ],
      "id": "d4240c4f-fded-4921-9af3-287d7ca29ff6",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "guBFMhHgni9rVG9Z",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        420,
        1260
      ],
      "id": "04ac816a-9cb9-422d-9100-fb867a44a7d4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "guBFMhHgni9rVG9Z",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "Add Files to Supabase\n<<Vector",
        "height": 520,
        "width": 2200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        -60
      ],
      "id": "1fc06aca-e871-4c57-ab16-6cbbbd527436",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Delete Files From Supabase\n<<Vector Database",
        "height": 200,
        "width": 1360
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        480
      ],
      "id": "6da269f2-ed67-4c57-8cfc-8878a2be29a9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Chat with files from Supabase",
        "height": 860,
        "width": 1620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        720
      ],
      "id": "c5e832d2-1b9f-4356-b2a7-7df98f95d82d",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c6886579-4315-4320-8294-f3e0bc2dffe4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1936b33420b0facb61b246cd239a2c195c2e327ceea8081892252d261a13330"
  },
  "id": "bc0wrlFGxFEvjf20",
  "tags": []
}